body{
  background:#0f172a;
  color:white;
  font-family:Arial;
}

.container{
  max-width:500px;
  margin:80px auto;
  background:#1e293b;
  padding:30px;
  border-radius:10px;
}

h1{
  text-align:center;
}

.input-box{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:5px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.add-btn{
  background:#6366f1;
  color:white;
}

.delete-btn{
  background:#ef4444;
  color:white;
}

.complete-btn{
  background:#22c55e;
  color:white;
}

li{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:10px 0;
  padding:10px;
  background:#334155;
  border-radius:5px;
}
.task-item{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
margin-top:10px;
background:#f3f4f6;
border-radius:6px;
}

.completed{
text-decoration:line-through;
color:gray;
}

.delete-btn{
background:#ef4444;
color:white;
border:none;
padding:5px 10px;
border-radius:5px;
cursor:pointer;
}